<footer class="footer-twitter fixed-bottom shadow-lg mt-5">
    <div class="row justify-content-center align-items-center text-white">
        <div class="col-7 p-1">
            <p class="h4"><strong>No te pierdas lo que está pasando</strong>
            <br>
            <i class="h5">Los usuarios de Whisper son los primeros en enterarse.</i>
            </p>
        </div>
        <div class="col-4 ml-5 pl-5">
            <%= link_to 'Iniciar Sesion', new_user_session_path , class:"btn btn-light rounded-pill text-primary m-2"%>
            <%= link_to "Registrarse", new_user_registration_path, class:"btn btn-light rounded-pill text-primary m-2"%>
        </div>
    </div>
</footer>